@using ETrade.Entity.Concrete
@model List<ETrade.Entity.Concrete.Category>
<div class="list-group">
    @foreach (Category category in Model)
    {
      <a href = "#" class="list-group-item">@category.CategoryName</a>
    }
</div>
    