@using ETrade.MvcWebUI.HtmlHelpers
@using ETrade.MvcWebUI.Models
@model ETrade.MvcWebUI.Controllers.Model.ProductViewModel
@{
    ViewBag.Title = "Index";
}


@foreach (var product in Model.Products)
{
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">@product.ProductName</a>
                </h4>
                <h5>@product.UnitPrice</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    @*TODO: Refactoring post proccess*@ 
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("productId", product.ProductId) //We own specified name of field as 'productId'. If we use HiddenFor Field's name would be 'product.ProductId'.  
                        <input type="submit" value="AddToCart"/>
                    }
                </div>
            </div>
        </div>
    </div>
}

@Html.Pager(Model.PagingInfo, (index, category) => Url.Action("Index", "Product", new { page = index, categoryId=category }))


